<!doctype html>
<html lang="en">
  <head>
    <link rel="shortcut icon" href="/images/favicon.gif" />
    <!--[if lte IE 6]>
	  <style>#top, #bottom, #left, #right { display: none; }</style>
    <![endif]-->
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/header.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700" media="all">
  </head>

  <body>
    <div id="left"></div>
    <div id="right"></div>
    <div id="top"></div>
    <div id="bottom"></div>

    <header>
      <div class="container">
        <ul class="main-nav">
          <li><a href="/convocatoria/">¡Envía tus contenidos!</a></li>
          <li><a href="/nosotros/">Nosotros</a></li>
          <li><a href="/pruebas/">Pruebas</a></li>
          <li><a href="/categorias/">Categorías</a>
            <ul>
              <li><a href="/pintura/">Pintura</a><li>
              <li><a href="/series/">Series</a><li>
            </ul>
          </li>
          <li><a href="/secciones/">Secciones</a></li>

      </ul>
      <div id="logo"><a href="/"><img src="/images/header_logo_white.png" alt="Sánguche"></a></div>
      </div>
    </header>
    <div class="space"></div>
    <div class="content">
      {{ content }}
    </div>
    <footer>
      <div class="container">
        <a href="https://www.facebook.com"><img src="/images/facebook_icon.png" width="60px" alt="Facebook"></a>
        <a href="https://www.facebook.com"><img src="/images/facebook_icon.png" width="60px" alt="Facebook"></a>
        <a href="https://www.facebook.com"><img src="/images/facebook_icon.png" width="60px" alt="Facebook"></a>
        <p class="center"> Joli </p>
        <p>Datos de contacto</p>
        <p>sanguche.revista@gmail.com</p>
      </div>
    </footer>
  </body>
</html>
